# MacOS
**/.DS_Store

# IDEs
.idea/**
.vscode
launch.json
*code-workspace

# General Ignores
*IGNORE*
*ignore*
*.log
.env

# Helm
**/charts
**/tmpcharts
requirements.lock
Chart.lock
package-lock.json

# Helm Publish Repo
repo/**
